@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


:root {
    --cor0: background-color: rgb(241, 239, 239);
    --cor1: #0D0D0D;
    --cor2: #fffb00;

    --font-family: 'Secular One', sans-serif;
}
* {
    margin:0;
    padding:0;
    
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Secular One', sans-serif;
    
}


header{ /*menu completo*/
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 85px;
   background-color:black;
}
    
main > p { /*h1 principais*/
    margin: 70px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.363);
    font-family: sans-serif;
    
}

* {box-sizing: border-box;}

body {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f5f5e7;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f0f321;
  color: rgb(0, 0, 0);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 8px;
  margin-top: 6px;
  font-size: 20px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 9px 18px;
  margin-top: 6px;
  margin-right: 65px;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
main {
    min-width: 500px; /*medidas padrão de um site responsivo*/
    max-width: 1330px;/*medida padrão de um site responsivo*/
    background-color: white;/*cor de fundo*/
    margin: auto; /*margem auto dentro da box*/
    margin-bottom: 10px; /*largura da box*/
    padding: 90px; /*espaçamento da box*/
    box-shadow: 0px 0px 10px rgb(10, 10, 10); /*sombra da box*/
    border-bottom-left-radius: 10px; /*borda arredondada para esquerda*/
    border-bottom-right-radius: 10px ; /*borda arredondada para direita*/
    
}

.galery{
    margin: 0px;
    text-align: center;
}
.logoimg { /*marcasimg*/
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-indent: 20px;
    justify-content: center;
    list-style-type: none;
}

.maisvendidosp /*h1 produtos mais vendidos*/ {
    margin-top: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.maisvendidos /*lista de medicamentos*/ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    list-style-type: none;

}
.logoaval{ /*logodrogazao*/
    margin-top: 40px;
    padding: 10px;
    
}
.h1avaliaçao { /*h1*/
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.feed {
    background-color: rgb(255, 255, 255);  
    list-style: none;
    overflow: hidden;
    justify-content: cent
}
 
footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 80%;
    padding: 10px;
    font-family: sans-serif;
}
footer a { 
    color: white;
    font-weight: bolder; 
    text-decoration: none; 
}
footer a:hover { 
    text-decoration: underline;
    color: red ;
}