@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


:root {
    --cor0: background-color: rgb(241, 239, 239);
    --cor1: #0D0D0D;
    --cor2: #fffb00;

    --font-family: 'Secular One', sans-serif;
}
* {
    margin:0;
    padding:0;
    
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Secular One', sans-serif;
    
}


header{ /*logo*/
    background-color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 150px;  
    padding-top: 40px; 
}
form {
    color: white;
    padding: 10px;
}
section{
    color: white;
    margin-top: 10px;
    
}
.container {
    margin-top: 10px;
    text-align: center;

}


main > p { /*h1 principais*/
    margin: 10px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.363);
    font-family: sans-serif;
    
}


nav{ /*conf menu de navegação*/
    width: 100%;
    padding: 10px;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

nav > a { /*cores e decoração ao passar */
    color: rgb(250, 250, 250);
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 1.0s;
    border-radius: 40px;
    
}
nav > a:hover { /*decoração*/
    background-color: var(--cor2);
    color: var(--cor1)  
    
}
main {
    min-width: 300px; /*medidas padrão de um site responsivo*/
    max-width: 1000px;/*medida padrão de um site responsivo*/
    background-color: white;/*cor de fundo*/
    margin: auto; /*margem auto dentro da box*/
    margin-bottom: 30px; /*largura da box*/
    padding: 60px; /*espaçamento da box*/
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.5); /*sombra da box*/
    border-bottom-left-radius: 10px; /*borda arredondada para esquerda*/
    border-bottom-right-radius: 10px ; /*borda arredondada para direita*/
    
}
.salsep1 { /*imgsalsep*/
    background-color:white;
    
}
.logoimg { /*marcasimg*/
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-indent: 20px;
    justify-content: center;
    list-style-type: none;
    
    
}

.maisvendidosp /*h1 produtos mais vendidos*/ {
    margin-top: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.maisvendidos /*lista de medicamentos*/ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    list-style-type: none;

}
.logoaval{ /*logodrogazao*/
    margin-top: 40px;
    padding: 10px;
    
}
.h1avaliaçao { /*h1*/
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.feedb /*img do feed*/{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    list-style: none;
       
}

footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 70%;
    padding: 5px;
    font-family: sans-serif;
}
footer a { 
    color: white;
    font-weight: bolder; 
    text-decoration: none; 
}
footer a:hover { 
    text-decoration: underline;
    color: red ;
}